<%-  layout("/layouts/boilerplates") %>
<form method="post" action="/addProject"> 
      <div class="mb-3">
            <label class="form-label">Enter the name</label>
            <input type="name" name="ProjectInfo[name]">
      </div>
      <div class="mb-3">
        <label class="form-label">Enter your valuable Info</label>
        <input type="text" name="ProjectInfo[PInfo]">
      </div>
      <div class="mb-3">
        <label class="form-label">Enter the image link</label>
        <input type="text" name="ProjectInfo[image]">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
</form>